::ng-deep .icone-runpay {
  height: 30px !important;
}

.formulario {
  padding: 2em 6em 2em;
  width: 100%;
  max-width: 770px;
  border-radius: 50px;
  background-image: url("../../../assets/bg-card.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.form-label {
  margin: 0;
}

.texto-termosdeuso {
  max-width: 400px;
}

.inicial button {
  width: 100%;
}

.btn-voltar {
  max-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-invalido-mensagem, .texto-valido {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: -.4rem;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

P {
  font-size: 14px;
}

div input {
  color: #ffffff;
}

input {
  color: white;
}

.form-label {
  margin-top: 20px;
  color: var(--cor-cinza);
  font-size: 14px;
}

.form-select, .input-group-text {
  background-color: transparent !important;
  color: white;
  border: 1px solid var(--cor-cinza);
}

.form-select:focus {
  background-color: var(--cor-azul-medio) !important;
}

.form-control::placeholder, option, .form-select {
  color: white;
  background-color: transparent;
}

.bi {
  color: var(--cor-azul-escuro);
  -webkit-text-stroke: 1px;
}

#link_entrar {
    color: #c3f587;
    cursor: pointer;
}

.formularioinvalido.ng-touched, .formularioinvalido.ng-dirty, .formularioinvalido.ng-invalid {
  border: none;
}

@media (max-width: 991px) {
  .texto-invalido {
    line-height: .7rem;
    max-width: 260px;
    margin-top: 0;
  }

  .form-control {
    margin-bottom: .4rem;
  }

  /* .formulario {
    margin: 0 2rem;
    padding: 2.5em 2.5em 1em;
  } */

  .btn:disabled {
    box-shadow: none;
  }

  .btn-primary {
    box-shadow: 0px 0px 10px var(--cor-verde);
  }

  ::ng-deep .icone-runpay {
    display: block !important;
  }

  ::ng-deep .footer {
    height: 10vh !important;
  }

  ::ng-deep .secao-contato {
    display: none !important;
  }

  ::ng-deep .secao-siga {
    display: none !important;
  }

}

@media (max-width: 768px){
  .formulario {
    margin: 0 2rem;
    padding: 2.5em 3em 2.5em;
  }
}
