<app-header-voltar logo="../../../assets/logo.svg"></app-header-voltar>

<main
  class="main_container d-flex flex-column justify-content-center align-items-center px-4 mt-3 mb-4"
>
  <div class="formulario">
    <form class="justify-content-center formularioinvalido" [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
      <h2 class="text-center">Crie a sua conta da RunPay</h2>
      <p class="text-center">
        Já possui uma conta?
        <a
          (click)="redirecionarParaLogin()"
          id="link_entrar"
          style="text-decoration: underline; font-weight: 700"
          >Entrar</a
        >
      </p>

      <!-- Formulario cpf -->
      <div *ngIf="formularioExibido == 'inicial'" class="d-flex flex-column justify-content-center gap-5">
        <div>
          <label class="form-label" >Primeiro, insira seu CPF</label>
          <input type="text" class="form-control" formControlName="cpf" [mask]="'000.000.000-00'"/>
          <span
          *ngIf="getCampo('cpf')?.dirty && getCampo('cpf')?.hasError('required')"
          class="texto-invalido"
          >CPF é obrigatório.</span
          >
          <span
            *ngIf="getCampo('cpf')?.hasError('minlength')"
            class="texto-invalido"
            >Digite um CPF válido.</span
          >
        </div>

        <!-- termos e condicoes -->
        <div class="inicial d-flex flex-column justify-content-center align-items-center gap-3">
          <button type="button" class="btn btn-primary" (click)="mudarParaFormularioInfopessoais()" [disabled]="getCampo('cpf')?.invalid">Continuar</button>
          <p class="texto-termosdeuso text-center">Ao se cadastrar, você aceita os nossos
            <a id="link_entrar" (click)="abrirModalTermos() " style="text-decoration: underline; font-weight: 700">Termos de Uso</a>
            e a nossa
            <a id="link_entrar" (click)="abrirModalPolitica()" style="text-decoration: underline; font-weight: 700">Política de Privacidade</a>
          </p>
        </div>

      </div>

      <!-- formulario info-pessoais -->
      <div *ngIf="formularioExibido == 'infopessoais'" class="formularioinvalido">
        <formulario-infopessoais [cadastroForm]="cadastroForm"></formulario-infopessoais>
        <div class="buttons mt-5 d-flex gap-5">
          <button type="button" class="btn btn-primary btn-voltar" (click)="mudarParaFormularioInicial()">
            <i class="bi bi-chevron-left"></i>
          </button>
          <button type="button" class="btn btn-primary flex-fill"  (click)="mudarParaFormularioEndereco()" [disabled]="!validarFormularioInfopessoais()">Continuar</button>
        </div>
      </div >

      <!-- formulario endereco -->
      <div *ngIf="formularioExibido == 'endereco'" class="formularioinvalido">
        <formulario-endereco [cadastroForm]="cadastroForm"></formulario-endereco>
        <div class="buttons mt-5 d-flex gap-5">
          <button type="button" class="btn btn-primary btn-voltar" (click)="mudarParaFormularioInfopessoais()">
            <i class="bi bi-chevron-left"></i>
          </button>
          <button type="button" class="btn btn-primary flex-fill"  (click)="mudarParaFormularioSenha()" [disabled]="getCampo('endereco')?.invalid">Continuar</button>
        </div>
      </div>

      <div *ngIf="formularioExibido == 'senha'">

        <p *ngIf="mostrarMensagemSucesso" class="texto-valido text-center">Conta criada com sucesso!</p>
        <p *ngIf="invalidUser" class="texto-invalido-mensagem text-center">E-mail já utilizado.</p>

        <!-- Formulario senha -->
        <formulario-senha [cadastroForm]="cadastroForm"></formulario-senha>
        <div class="buttons mt-5 d-flex gap-5">
          <button type="button" class="btn btn-primary btn-voltar" (click)="mudarParaFormularioEndereco()">
            <i class="bi bi-chevron-left"></i>
          </button>
          <button type="submit" class="btn btn-primary flex-fill" [disabled]="cadastroForm.invalid || processando">{{ processando ? "Criando..." : "Criar" }}</button>
        </div>
      </div>
    </form>

  </div>
</main>
