main {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  height: 100%;
  max-width: 1170px;
  max-height: 600px;
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

.main-contato {
  max-width: 510px;
  height: 100%;
  padding: 0 2rem 0 0;
}

.img-megafone-web, .img-megafone-mobile {
  max-width: 600px;
  max-height: 600px;
  border-radius: 4rem;
}

.form-label {
  margin: 0;
}

.btn {
  width: 170px;
}

.titulo-contato {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.titulo {
  font-size: 64px;
  font-weight: 700;
  line-height: .8em;
}

.subtitulo {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

.form-control {
  color: white;
}

.img-megafone-mobile {
  display: none;
}

@media (max-width: 992px) {
  .row {
    gap: 1rem;
  }

  .main-container {
    max-height: inherit;
    padding: 3rem 1.5rem;
    margin: 0;
  }

  .form-container {
    align-items: center;
  }

  .main-contato {
    max-width: 600px;
    padding: 0;
  }

  .form-item {
    max-width: 290px;
  }

  .subtitulo {
    max-width: 500px;
    text-align: center;
    padding-bottom: 1rem;
  }

  .titulo-contato {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .img-megafone-web {
    display: none;
  }

  .img-megafone-mobile {
    display: block;
  }
}

@media (max-width: 768px) {


  .titulo-contato {
    gap: 1rem;
  }

  .titulo {
    font-size: 32px;
    max-width: 300px;
  }

  .subtitulo {
    font-size: 16px;
    max-width: 275px;
  }

  .form-item {
    max-width: 100%;
  }

  .img-megafone-mobile {
    width: 100%;
  }


}
