<app-header-home></app-header-home>

<main>
  <div class="container">
      <div class="main-contato">
        <div class="titulo-contato">
          <h1 class="titulo">Quer falar com a gente?</h1>

            <img src="../../../assets/megafone.png" alt="megafone" class="img-fluid img-megafone-mobile">

          <p class="subtitulo">É só mandar sua mensagem por aqui ou ligar pro número abaixo ;&#41;</p>
        </div>
        <form class="form-container" [formGroup]="formularioMensagem">

            <div class="form-item">
              <label class="form-label" for="nome">Nome completo</label>
              <input
                type="text"
                class="form-control"
                id="nome"
                formControlName="nome"
              />
            </div>
            <p class="texto-invalido" *ngIf="email.dirty && nome.hasError('required')">O nome é obrigatório.</p>

            <div class="form-item">
              <label class="form-label" for="email">E-mail</label>
              <input
                type="text"
                class="form-control"
                id="email"
                formControlName="email"
              />
            </div>
            <p *ngIf="email.hasError('required')" class="texto-invalido">O nome é obrigatório.</p>
            <p *ngIf="email.dirty && email.hasError('email')" class="texto-invalido">A escrita está errada</p>

            <div class="form-item">
              <label class="form-label" for="celular">Celular</label>
              <input
                type="text"
                class="form-control"
                id="celular"
                formControlName="celular"
              />
            </div>

            <div class="form-item">
              <label class="form-label" for="cpf">CPF</label>
              <input
                type="text"
                class="form-control"
                id="cpf"
                formControlName="cpf"
              />
            </div>

          <div class="form-text">
            <label class="form-label" for="mensagem">Mensagem</label>
            <textarea class="form-control" name="mensagem" id="mensagem" cols="15" rows="5" formControlName="mensagem"></textarea>
          </div>

          <p>{{ formularioMensagem.valid }}</p>

          <input type="submit" class="btn btn-primary" [disabled]="formularioMensagem.invalid">

        </form>
      </div>

      <div class="main-img">
        <img src="../../../assets/megafone.png" alt="megafone" class="img-fluid img-megafone-web">
      </div>
    </div>

</main>


<app-footer></app-footer>
