<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-6 col-left">
        <img
          src="../../../assets/icone-degrade.svg"
          alt="icon-logo"
          class="icon-logo"
        />
        <p class="copyright">
          Runpay © 2024 <br />
          All Rights Reserved
        </p>
      </div>
      <div class="col-md-4 mb-6 col-center">
        <p class="text-center footer-titleCenter1">Fale com a gente</p>
        <p class="text-center footer-titleCenter2">
          0800 025 8000<br />Disponível todos os dias, 24h.
        </p>
      </div>
      <div class="col-md-4 mb-4 col-right">
        <p class="text-right footer-title-rigth">Siga o Runpay</p>
        <div class="social-icons">
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
          <a href="#"><i class="bi bi-whatsapp"></i></a>
          <a href="#"><i class="bi bi-twitter-x"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
