<footer class="footer">
  <div class="container align-middle">
    <div class="row ">

      <div class="col-md-4 col-sm-12 order-md-1 order-3  secao-direitos">
        <img
          src="../../../assets/icone-degrade.svg"
          alt="icon-logo"
          class="icon-logo"
        />
        <div class="copyright">
          <span>Runpay © 2024</span>
          <span>All Rights Reserved</span>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 order-md-2 order-2 mb-6 secao-contato">
        <p class="text-center footer-titleCenter1">Fale com a gente</p>
        <p class="text-center footer-titleCenter2">
          0800 025 8000<br />Disponível todos os dias, 24h.
        </p>
      </div>

      <div class="col-md-4 col-sm-12 order-md-3 order-1 col-right secao-siga ">
        <p class="text-right ">Siga o Runpay</p>
        <div class="social-icons">
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
          <a href="#"><i class="bi bi-whatsapp"></i></a>
          <a href="#"><i class="bi bi-twitter-x"></i></a>
        </div>
      </div>

    </div>
  </div>
</footer>
