.footer {
  height: 160px;

  font-family: Raleway;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  bottom: 0;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
  max-width: 770px;
}

.row {
  height: 100%;
}

.icon-logo {
  width: 42px;
  height: 48px;
  display: flex;
  align-items: center;
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secao-siga {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}


.footer-titleCenter1 {
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
}
.footer-titleCenter2 {
  margin-top: 10px;
  font-weight: 500;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.social-icons i {
  font-size: 24px;
  transition: ease-in-out 0.3s;
}

.social-icons i:hover {
  color: var(--cor-verde);
}
.copyright {
  width: 190px;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffff;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

@media (max-width: 768px) {

  .footer {
    height: 400px;
  }


  .secao-siga, .secao-direitos, .secao-contato {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .copyright {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 6px;
  }

}


/* @media (max-width: 991px) {
  .col-left {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .icon-logo {
    margin-left: 95px;
  }

  .copyright {
    flex-grow: 1;
    text-align: center;
    margin-top: 45px;
  }

  .copyright br {
    display: none;
  }

  .footer-titleCenter1,
  .footer-titleCenter2,
  .footer-title-rigth,
  .social-icons {
    display: none;
  }
}
 */
