.footer {
  background-color: var(--cor-azul-escuro);
  padding: 50px 0;
  width: 1366px;
  height: 160px;
  top: 1022px;
  justify-content: center;
  align-items: center;
}
.icon-logo {
  width: 42px;
  height: 48px;
  display: flex;
  align-items: center;
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-titleCenter1 {
  font-family: Raleway;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.footer-titleCenter2 {
  width: 202px;
  height: 36px;
}

.text-right {
  text-align: right;
}

.phone-number {
  font-weight: bold;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.social-icons a {
  margin-left: 15px; /* Espaçamento entre os ícones */
}

.social-icons i {
  font-size: 24px;
}

.copyright {
  width: 170px;
  height: 42px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffff;
  margin-top: 15px;
}
@media (max-width: 991px) {
  .container {
    padding: 0, 28px;
  }
  .footer-titleCenter1 {
    display: none;
  }
  .footer-titleCenter2 {
    display: none;
  }
  .footer-title-rigth {
    display: none;
  }
  .social-icons {
    display: none;
  }
  .copyright {
    text-align: center;
  }
  .icon-logo {
    margin-right: 0;
  }
}
