.footer {
  font-family: Raleway;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  background-color: var(--cor-azul-escuro);
  height: 160px;
  width: 100%;
  padding: 0% 22% 0% 22%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.icon-logo {
  width: 42px;
  height: 48px;
  display: flex;
  align-items: center;
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-center {
  align-items: center;
}

.footer-titleCenter1 {
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.footer-titleCenter2 {
  font-weight: 500;
  text-align: left;
}

.col-right {
  align-items: flex-end;
}

.text-right {
  font-weight: 700;
}

.phone-number {
  font-weight: bold;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.social-icons a {
  margin-left: 15px; /* Espaçamento entre os ícones */
}

.social-icons i {
  font-size: 24px;
}

.copyright {
  width: 170px;
  height: 42px;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffff;
  margin-top: 15px;
}
@media (max-width: 991px) {
  .col-left {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .icon-logo {
    margin-left: 95px;
  }

  .copyright {
    flex-grow: 1;
    text-align: center;
    margin-top: 45px;
  }

  .copyright br {
    display: none;
  }

  .footer-titleCenter1,
  .footer-titleCenter2,
  .footer-title-rigth,
  .social-icons {
    display: none;
  }
}
@media (max-width: 650px) {
  .icon-logo {
    display: none;
  }
}
