<div [formGroup]="cadastroForm" class="formularioinvalido">

  <div class="row">
    <div class="col-12 col-md-6">
      <label class="form-label">Nome Completo</label>
      <input type="text" class="form-control" formControlName="nome" (keypress)="this.formService.apenasCaracteres($event)"/>
      <span
            *ngIf="(getCampo('nome')?.dirty || getCampo('nome')?.touched) && getCampo('nome')?.hasError('required')"
            class="texto-invalido"
            >Nome Completo é obrigatório.</span
          >
          <span
            *ngIf="getCampo('nome')?.hasError('minlength')"
            class="texto-invalido"
            >Nome deve conter no mínimo 3 caracteres.</span
          >
    </div>
    <div class="col">
      <label class="form-label">Nome Social</label>
      <input type="text" class="form-control" formControlName="nomeSocial" (keypress)="this.formService.apenasCaracteres($event)"/>
    </div>
  </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <label class="form-label">RG</label>
        <input type="text" class="form-control" formControlName="rg" (keypress)="this.formService.apenasNumeros($event)"/>
        <span
          *ngIf="(getCampo('logradouro')?.dirty || getCampo('rg')?.touched) && getCampo('rg')?.hasError('required')"
          class="texto-invalido"
          >RG é obrigatório.
        </span>
      </div>
      <div class="col-sm-12 col-md-3">
        <label class="form-label">Órgão expedidor</label>
        <input type="text" class="form-control" formControlName="rgExpedidor" (keypress)="this.formService.apenasCaracteres($event)"/>
        <span
          *ngIf="(getCampo('rgExpedidor')?.dirty || getCampo('rgExpedidor')?.touched) && getCampo('rgExpedidor')?.hasError('required')"
          class="texto-invalido"
          >Campo obrigatório.</span
        >
      </div>
      <div class="col-sm-12 col-md-3">
        <label class="form-label">UF Expedidor</label>
        <select class="form-select" aria-label="Default select example" formControlName="rgUf">
          <option value selected>Selecione</option>
          <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
        </select>
        <span
          *ngIf="(getCampo('rgUf')?.dirty || getCampo('rgUf')?.touched) && getCampo('rgUf')?.hasError('required') "
          class="texto-invalido"
          >RG é obrigatório.
        </span>
      </div>
    </div>

    <!-- Data nascimento e nacionalidade -->
    <div class="row">
      <div class="col">
        <label class="form-label">Data de Nascimento</label>
        <input type="date" class="form-control" formControlName="dataNascimento" />
        <span
          *ngIf="getCampo('dataNascimento')?.touched && getCampo('dataNascimento')?.invalid"
          class="texto-invalido"
          >Idade inválida.
        </span>
      </div>
      <div class="col">
        <label class="form-label">Nacionalidade</label>
        <input type="text" class="form-control" formControlName="nacionalidade" (keypress)="this.formService.apenasCaracteres($event)"/>
        <span
          *ngIf="(getCampo('nacionalidade')?.dirty || getCampo('nacionalidade')?.touched) && getCampo('nacionalidade')?.hasError('required')"
          class="texto-invalido"
          >Nacionalidade é obrigatório.
        </span>
      </div>
    </div>

    <!-- Estado civil e genero -->
    <div class="row">
      <div class="col">
        <label class="form-label">Estado Civil</label>
        <select class="form-select" formControlName="estadoCivil">
          <option value selected>Selecione</option>
          <option *ngFor="let estadoCivil of estadosCivis" [value]="estadoCivil.value">{{ estadoCivil.exibicao }}</option>
        </select>
        <span
          *ngIf="getCampo('estadoCivil')?.touched && getCampo('estadoCivil')?.hasError('required') "
          class="texto-invalido"
          >Estado Civil é obrigatório.
        </span>
      </div>
      <div class="col">
        <label class="form-label">Gênero</label>
        <select class="form-select" formControlName="genero">
          <option value selected>Selecione</option>
          <option *ngFor="let genero of generos" [value]="genero.value">{{ genero.exibicao }}</option>
        </select>
        <span
          *ngIf="getCampo('genero')?.touched && getCampo('genero')?.hasError('required') "
          class="texto-invalido"
          >Gênero é obrigatório.
        </span>
      </div>
    </div>

    <!-- Telefone e celular -->
    <div class="row">
      <div class="col">
        <label class="form-label">DDD</label>
        <input type="text" class="form-control" formControlName="ddd" maxlength="2" (keypress)="this.formService.apenasNumeros($event)"/>
        <span
          *ngIf="(getCampo('ddd')?.dirty || getCampo('ddd')?.touched) && getCampo('ddd')?.hasError('required')"
          class="texto-invalido"
          >DDD obrigatório.
        </span>
        <span
          *ngIf=" getCampo('ddd')?.hasError('minlength')"
          class="texto-invalido"
          >DDD inválido.
        </span>
      </div>
      <div class="col-8 col-sm-10">
        <label class="form-label">Celular</label>
        <input type="text" class="form-control" formControlName="celular" [mask]="'00000-0000'"/>
        <span
          *ngIf="(getCampo('celular')?.dirty || getCampo('celular')?.touched) && getCampo('celular')?.hasError('required')"
          class="texto-invalido"
          >Celular é obrigatório.
        </span>
        <span
          *ngIf="getCampo('celular')?.hasError('minlength')"
          class="texto-invalido"
          >Celular inválido.
        </span>
      </div>
    </div>

  </div>

