<app-header-home></app-header-home>

<div class="sobre-nos">
    <h1>Sobre Nós</h1>
    <img src="../../../assets/equipe.png" alt="">
</div>

<div class="sobre-nos-descricao"> 
    <img src="../../../assets/RunTime.png" alt="Logo RunTime">
    <p>Bem-vindo ao RunPay, uma iniciativa da equipe RunTime como parte do programa SharpCoders, oferecido pela ÍmaTech e MXM Sistemas. Acreditamos no sucesso através do trabalho em equipe e excelência. Com o RunPay, oferecemos mais do que um banco online, proporcionando soluções que fazem a diferença. Junte-se a nós nesta jornada emocionante enquanto evoluímos o RunPay para atender às suas necessidades em constante mudança. O futuro das finanças está aqui, e estamos ansiosos para compartilhá-lo com você!</p>
</div>

<app-card-equipe></app-card-equipe>

<app-footer></app-footer>
