<header class="app-header-cadastro">
    <div class="container b-align-middle">
        <div class="row">
            <div class="col-4 d-flex justify-content-start align-items-center">
                <img src="../../../assets/logo.svg" alt="icone-runpay" class="icone-runpay img-fluid d-block">
            </div>
            <div class="col-6"></div>
            <div class="col-2 d-flex justify-content-end align-items-center">
                <button class="btn-voltar">
                    <i class="bi bi-arrow-left"></i>
                </button>
            </div>
        </div>
    </div>
</header>

