<app-header-home></app-header-home>

<main class="main-container">
  <section class="section_principal">
    <div class="principal_texto">
      <h1>Velocidade e segurança em cada transação</h1>
      <button
        class="btn btn-outline-primary"
        (click)="redirecionarParaCadastro()"
      >
        Abra sua conta agora
      </button>
    </div>
  </section>

  <section class="section_card">
    <div class="card_content">
      <h2><span>Descomplicamos</span> sua vida financeira</h2>

      <div
        class="card_itens container d-flex flex-column justify-content-center gap-2"
      >
        <div class="row">
          <div class="card_item col-5">
            <i class="bi bi-chevron-double-right"></i>
            <p>Sem filas e papelada.</p>
          </div>
          <div class="card_item col-6">
            <i class="bi bi-chevron-double-right"></i>
            <p>Sem anuidade.</p>
          </div>
        </div>

        <div class="row">
          <div class="card_item col-5">
            <i class="bi bi-chevron-double-right"></i>
            <p>Transferências gratuitas.</p>
          </div>
          <div class="card_item col-6">
            <i class="bi bi-chevron-double-right"></i>
            <p>Sem complicação para cobrar e receber.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
