<div [formGroup]="cadastroForm" class="formularioinvalido">
  <label class="form-label">E-mail</label>
  <input type="text" class="form-control" formControlName="email" />

  <label class="form-label">Confirme seu E-mail</label>
  <input type="text" class="form-control" formControlName="confirmarEmail" />

  <label class="form-label">Senha</label>
  <input type="text" class="form-control" formControlName="senha" />

  <label class="form-label">Confirme sua senha</label>
  <input type="text" class="form-control" formControlName="confirmarSenha" />
</div>
