.header-inicial {
  height: 10vh;
}

.container {
  max-width: 770px;
  height: 100%;
  padding: 0;
}

.row, .col-9, .col-3 {
  height: 100%;
}

.icone-runpay {
  display: block;
  height: 48px;
}

.texto-nome {
  font-size: 24px;
  font-weight: 600;
}

.foto-usuario {
  width: 40px;
  height: 40px;
  border-radius: 90px;
  background: var(--cor-verde);
}

.btn-sair {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
}

.btn-sair:hover {
  width: 40px;
  height: 40px;
  transform: scale(1.1);
  transition: ease 0.1s;
}

.bi-person {
  color: var(--cor-azul-escuro);
  font-size: 24px;
  -webkit-text-stroke: 0.5px;
}

.bi-box-arrow-right {
  font-size: 24px;
  color: var(--cor-verde);
}
@media (max-width: 991px) {

  .container {
    padding: 0 28px;
  }

  .icone-runpay {
    display: none;
  }

  .bi-box-arrow-right {
    font-size: 20px;
  }

  .texto-boasvindas {
    font-size: 14px;
  }

  .texto-nome {
    font-size: 18px;
  }

  .gap-5 {
    gap: 1rem !important;
  }

}
