.btn-sair {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
}

.btn-sair:hover {
  width: 40px;
  height: 40px;
  transform: scale(1.1);
  transition: ease 0.1s;
}

.bi-box-arrow-right {
  font-size: 24px;
  color: var(--cor-verde);
}

.modal-content {
  background-color: var(--cor-azul-escuro);
  border: none;
  border-radius: 30px;
}

.modal-header, .modal-footer {
  border-color: var(--cor-azul-claro);
}

.btn {
  width: 100px;
}
