<!-- Button trigger modal -->
<button class="btn-sair" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="bi bi-box-arrow-right"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Deseja encerrar a sessão?</h1>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="redirecionarParaHome()" data-bs-dismiss="modal">Sair</button>
      </div>
    </div>
  </div>
</div>
