:root {
  --cor-azul-escuro: #12163A;
  --cor-azul-medio: #171C4B;
  --cor-azul-claro: #313551;
  --cor-branco: #FFFFFF;
  --cor-cinza: #989898;
  --cor-cinza-claro: #DEE2E6;
  --cor-verde: #C3F587;
}
