<app-header-voltar logo="../../../assets/logo.svg"></app-header-voltar>

<main class="main_container d-flex flex-column justify-content-center align-items-center px-4 mt-5 mb-4">
  <div class="formulario">
    <form class="justify-content-center" [formGroup]="cadastro">
      <h2 class="text-center">Criar a sua conta da runpay</h2>
      <p class="text-center">
        Já possui uma conta?
        <a (click)="redirecionarParaLogin()" id="link_entrar" style="text-decoration: underline; font-weight: 700;"
          >Entrar</a
        >
      </p>

      <div id="formulario-preenchido">
        <label class="form-label">CPF</label>
        <input
          type="string"
          class="form-control"
          formControlName="cpf"
          [mask]="'000.000.000-00'"
        />

        <label class="form-label">Nome</label>
        <input
          type="text"
          class="form-control"
          formControlName="nome"
        />

        <label class="form-label">E-mail</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
        />
        <span *ngIf=" emaildoUsuario.hasError('required') && emaildoUsuario.dirty" class="texto-invalido">Insira um e-mail válido.</span>

        <label class="form-label">Confirme seu E-mail</label>
        <input
          type="email"
          class="form-control"
          formControlName="confirmacao_email"
        />

        <label class="form-label">Senha</label>
        <input
          type="password"
          class="form-control"
          formControlName="senha"
        />
        <span *ngIf=" senhadoUsuario.hasError('required') && senhadoUsuario.dirty" class="texto-invalido">Insira uma senha contendo no mínimo 6 caracteres.</span>


        <label class="form-label">Confirme sua senha</label>
        <input
          type="password"
          class="form-control"
          formControlName="confirmacao_senha"
        />
      </div>
      <input
        type="submit"
        id="botao_criar_conta"
        class="btn btn-primary"
        value="Criar"
        [disabled]="cadastro.invalid"
      />
    </form>
  </div>

</main>


<app-footer></app-footer>
