<app-header-voltar logo="../../../assets/logo.svg"></app-header-voltar>

<main
  class="main_container d-flex flex-column justify-content-center align-items-center px-4 mt-5 mb-4"
>
  <div class="formulario">
    <form class="justify-content-center" [formGroup]="cadastro">
      <h2 class="text-center">Crie a sua conta da RunPay</h2>
      <p class="text-center">
        Já possui uma conta?
        <a
          (click)="redirecionarParaLogin()"
          id="link_entrar"
          style="text-decoration: underline; font-weight: 700"
          >Entrar</a
        >
      </p>

      <div id="formulario-preenchido">
        <label class="form-label">CPF</label>
        <input
          type="string"
          class="form-control"
          formControlName="cpf"
          [mask]="'000.000.000-00'"
        />

        <span
          *ngIf="cpfDoUsuario.touched && cpfDoUsuario.pristine"
          class="texto-invalido"
          >O campo CPF é obrigatório.</span
        >

        <label class="form-label">Nome Completo</label>
        <input type="text" class="form-control" formControlName="nome" />

        <span
          *ngIf="nomeDoUsuario.touched && nomeDoUsuario.pristine"
          class="texto-invalido"
          >O campo nome completo é obrigatório.</span
        >

        <label class="form-label">E-mail</label>
        <input type="email" class="form-control" formControlName="email" />
        <span
          *ngIf="emailDoUsuario.hasError('required') && emailDoUsuario.dirty"
          class="texto-invalido"
          >O campo e-mail é obrigatório.</span
        >
        <span *ngIf="emailDoUsuario.hasError('email')" class="texto-invalido"
          >Insira um e-mail válido.</span
        >
        <span
          *ngIf="emailDoUsuario.touched && emailDoUsuario.pristine"
          class="texto-invalido"
          >O campo email é obrigatório.</span
        >

        <label class="form-label">Confirme seu e-mail</label>
        <input
          type="email"
          class="form-control"
          formControlName="confirmacao_email"
        />
        <span
          *ngIf="
            confirmacaoDeEmail.hasError('emailsDiferentes') ||
            (confirmacaoDeEmail.hasError('required') &&
              confirmacaoDeEmail.dirty)
          "
          class="texto-invalido"
          >Os campos email e confirmação são obrigatórios e devem ser
          iguais.</span
        >
        <span
          *ngIf="confirmacaoDeEmail.touched && confirmacaoDeEmail.pristine"
          class="texto-invalido"
          >O campo de confirmação de email é obrigatório.</span
        >

        <label class="form-label">Senha</label>
        <input type="password" class="form-control" formControlName="senha" />
        <span
          *ngIf="senhaDoUsuario.hasError('required') && senhaDoUsuario.dirty"
          class="texto-invalido"
          >A senha deve conter no mínimo 6 caracteres, uma letra maiúscula,
          minúscula e um número.</span
        >
        <span
          *ngIf="senhaDoUsuario.touched && senhaDoUsuario.pristine"
          class="texto-invalido"
          >O campo senha é obrigatório.</span
        >

        <label class="form-label">Confirme sua senha</label>
        <input
          type="password"
          class="form-control"
          formControlName="confirmacao_senha"
        />
        <span
          *ngIf="
            confirmacaoDeSenha.hasError('senhasDiferentes') ||
            (confirmacaoDeSenha.hasError('required') &&
              confirmacaoDeSenha.dirty)
          "
          class="texto-invalido"
          >Os campos senha e confirmação são obrigatórios e devem ser
          iguais.</span
        >
        <span
          *ngIf="confirmacaoDeSenha.touched && confirmacaoDeSenha.pristine"
          class="texto-invalido"
          >O campo de confirmação de senha é obrigatório.</span
        >
      </div>
      <input
        type="submit"
        id="botao_criar_conta"
        class="btn btn-primary"
        value="Criar"
        [disabled]="cadastro.invalid"
        (click)="cadastrar()"
      />
    </form>
  </div>
</main>

<app-footer></app-footer>
