::ng-deep .icone-runpay {
  height: 30px !important;
}

.formulario {
  padding: 4em 6em 2em;
  width: 100%;
  max-width: 770px;
  border-radius: 50px;
  background-image: url("../../../assets/bg-card.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.form-label {
  margin: 0;
}

#botao_criar_conta {
    margin-top: 2em;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 50px;
    justify-content: center;
    background-color: #c3f587;
    color: var(--cor-azul-escuro);
}

input {
    color: white;
}

.form-label {
  margin-top: 20px;
}

#link_entrar {
    color: #c3f587;
    cursor: pointer;
}

h2 {
    font-size: 32px;
    font-weight: 700;
}

div input {
    color: #ffffff;
}

@media (max-width: 991px) {
  .texto-invalido {
    margin-top: -5px;
    line-height: .7rem;
    max-width: 260px;
  }

  .form-control {
    margin-bottom: .4rem;
  }

  .formulario {
    margin: 0 2rem;
    padding: 2.5em 2.5em 1em;
  }

  h2 {
    font-size: 24px;
  }

  .btn:disabled {
    box-shadow: none;
  }

  .btn-primary {
    box-shadow: 0px 0px 10px var(--cor-verde);
  }

  ::ng-deep .icone-runpay {
    display: block !important;
  }

  ::ng-deep .footer {
    height: 10vh !important;
  }

  ::ng-deep .secao-contato {
    display: none !important;
  }

  ::ng-deep .secao-siga {
    display: none !important;
  }

}
