::ng-deep .icone-runpay {
  height: 30px !important;
}

::placeholder {
  color: #adb5bd;
}

.form-label {
  margin: 0;
}

#formulario-preenchido {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main {
  height: 75vh;
}

input {
  margin: 0;
  color: white;
}

div input {
  color: #ffffff;
}

.formulario {
  padding: 4em 6em 1em;
  width: 100%;
  max-width: 770px;
  border-radius: 50px;
  background-image: url("../../../assets/bg-card.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.form-label {
  margin: 0;
}

#botao_criar_conta {
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 50px;
  justify-content: center;
  background-color: #c3f587;
  color: var(--cor-azul-escuro);

  &:disabled {
    background-color: var(--cor-azul-escuro);
  }
}


#link_entrar {
  color: #c3f587;
  cursor: pointer;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 991px) {
  .formulario {
    padding: 2.5em 2.5em 1em;
  }

  #formulario-preenchido {
    gap: 1rem;
  }

  h2 {
    font-size: 24px;
  }

  .btn:disabled {
    box-shadow: none;
  }

  .btn-primary {
    box-shadow: 0px 0px 10px var(--cor-verde);
  }

  .texto-invalido {
    max-width: 280px;
    line-height: .6rem;
    margin-top: 5px;
  }

  ::ng-deep .icone-runpay {
    display: block !important;
  }

  ::ng-deep .footer {
    height: 10vh !important;
  }

  ::ng-deep .secao-contato {
    display: none !important;
  }

  ::ng-deep .secao-siga {
    display: none !important;
  }
}
