::ng-deep .icone-runpay {
  height: 30px !important;
}

::placeholder {
  color: #adb5bd;
}

.form-label {
  margin: 0;
  margin-top: 20px;
  font-size: 14px;
}

.texto-invalido-mensagem, .texto-valido {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 0;
}

.btn {
  width: 100%;
}

main {
  height: 75vh;
}

input {
  color: white;
}

div input {
  color: #ffffff;
}

.formulario {
  padding: 2em 6em 2em;
  width: 100%;
  max-width: 770px;
  border-radius: 50px;
  background-image: url("../../../assets/bg-card.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bi {
  color: var(--cor-cinza);
  -webkit-text-stroke: .1px;
}

.bi:hover {
  cursor: pointer;
}

.input-group-text {
  background: transparent;
  border: 1px solid var(--cor-cinza);
}


#link_entrar {
  color: #c3f587;
  cursor: pointer;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

p {
  font-size: 14px;
}

@media (max-width: 991px) {
  .texto-invalido {
    max-width: 280px;
    line-height: .6rem;
  }

  ::ng-deep .icone-runpay {
    display: block !important;
  }

  ::ng-deep .footer {
    height: 10vh !important;
  }

  ::ng-deep .secao-contato {
    display: none !important;
  }

  ::ng-deep .secao-siga {
    display: none !important;
  }
}

@media (max-width: 768px){
  .formulario {
    margin: 0 2rem;
    padding: 2.5em 3em 2.5em;
  }
}
