<app-header-voltar logo="../../../assets/logo.svg"></app-header-voltar>

<main class="main_container d-flex flex-column align-items-center px-4 mt-3 mb-4">

  <div class="formulario">
    <form class="d-flex flex-column justify-content-center" [formGroup]="formularioLogin">
      <h2 class="text-center">Olá de novo!</h2>
      <p class="text-center">
        Ainda não tem uma conta na RunPay?
        <a
          (click)="redirecionarParaCadastro()"
          id="link_entrar"
          style="text-decoration: underline; font-weight: 700"
          >Cadastre-se</a
        >
      </p>
      <div>
        <p *ngIf="mensagemSucesso" class="texto-valido text-center">Conta criada com sucesso!</p>
        <p *ngIf="mensagemErro" class="texto-invalido-mensagem text-center">CPF ou senha incorretos.</p>
        <div>
          <label class="form-label" for="cpf">Insira seu CPF</label>
          <input
            type="cpf"
            class="form-control"
            id="cpf"
            formControlName="cpf"
            [mask]="'000.000.000-00'"
          />

          <span
          *ngIf="(cpf?.touched || cpf?.dirty) && cpf?.hasError('required')" class="texto-invalido"
          >Digite seu CPF</span
          >
          <span
          *ngIf="cpf?.hasError('minlength')" class="texto-invalido"
          >Insira um CPF válido.</span
          >
        </div>

        <div>
          <label class="form-label" for="senha">Insira sua senha</label>
          <div class="input-group">
            <input
              type="{{ senhaExibida ? 'text' : 'password' }}"
              class="form-control"
              id="senha"
              formControlName="senha"
            />
            <i class="input-group-text bi {{icone}}" (click)="toggleSenhaExibida()"></i>
          </div>

            <span
            *ngIf="(senha?.touched || senha?.dirty) && senha?.hasError('required')" class="texto-invalido"
            >Digite sua senha</span
            >
        </div>

        <button type="submit"
        class="btn btn-primary mt-5"
        [disabled]="formularioLogin.invalid">
        Entrar
        </button>
      </div>


    </form>
  </div>
</main>
