<div class="card-transacao">
  <div class="card-container">
    <div class="row">
      <div class="col col-2 d-flex justify-content-center align-items-center">
        <div class="icon-trans icon" *ngIf="transacao?.tipoTransacao === 0">
          <i class="bi bi-arrow-down-left"></i>
        </div>
        <div class="icon-trans icon" *ngIf="transacao?.tipoTransacao === 1">
          <i class="bi bi-arrow-left-right"></i>
        </div>
        <div class="icon-pg icon" *ngIf="transacao?.tipoTransacao === 2">
          <i class="bi bi-arrow-left-right"></i>
        </div>
      </div>
      <div class="icon-trans icon" *ngIf="transacao?.tipoTransacao === 3">
        <i class="bi bi-arrow-up"></i>
      </div>
      <div class="col col-7 d-flex flex-column justify-content-center">
        <h5 class="card-titulo">{{ getDescricaoPalavras(transacao?.descricao) }}</h5>
        <p class="card-subtitulo">{{ transacao?.tipoTransacao | tipoTransacao }}</p>
        <p class="card-subtitulo">{{ transacao?.dataFormatada }}</p>
      </div>
      <div class="col col-3 d-flex align-items-center justify-content-end">
        <p
          class="valor"
          [ngClass]="{
            'text-pg': transacao?.descricao?.startsWith('P'),
            'text-trans': transacao?.descricao?.startsWith('D')}"><span *ngIf="transacao?.descricao?.startsWith('P')">-</span>
            {{ transacao?.valor | formatBRL:false }}
        </p>
      </div>
    </div>
  </div>

</div>
