<header class="header-home">

  <nav class="navbar navbar-expand-lg" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
      <img src="../../../assets/logo.svg" alt="logo runpay" id="logo-runpay">
      <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
        <span class="bi bi-list"></span>
      </button>
      <div class="offcanvas offcanvas-end align-items-center" [ngbCollapse]="!isCollapsed" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-main">
          <div class="offcanvas-header">
            <img src="../../../assets/icone-azul.svg" class="offcanvas-title icone-azul" alt="icone runpay" id="offcanvasNavbar2Label">
            <button type="button"(click)="!isCollapsed = !isCollapsed" class="btn-closing" data-bs-dismiss="offcanvas" aria-label="Close">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>

          <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end  align-items-center  flex-grow-1 pe-3">

                <div class="items-links">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="sobre" routerLinkActive="active">Sobre nós</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="contato" routerLinkActive="active">Contato</a>
                  </li>
                </div>

                <div class="btns-entrar-criarconta">
                  <li class="nav-item">
                    <button class="btn" [ngClass]="className" (click)="redirecionarParaLogin()">Entrar</button>
                  </li>
                  <li class="nav-item item-mobile">
                    <button class="btn btn-secondary" href="#" (click)="redirecionarParaCadastro()">Criar Conta</button>
                  </li>
                </div>

              </ul>
          </div>
        </div>

      </div>
    </div>
  </nav>
</header>
