.sobre-nos-container{
    margin: 0 20px;
}

.sobre-nos-descricao{
    max-width: 1000px;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    text-align: justify;
}

.sobre-nos-descricao img{
    width: 300px;
    background-color: transparent;
    border: 0;
}

.section-cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cards{
  max-width: 770px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  max-width: 160px;
}


@media (max-width: 768px) {

    .sobre-nos-container {
      padding: 0 .8rem;
    }

    .sobre-nos-descricao{
      margin: 2rem 0;
      flex-direction: column;
      gap: .5rem;
    }

    .sobre-nos-descricao p{
      font-size: 14px;
    }

    .sobre-nos-descricao img{
      width: 140px;
      margin-bottom: 1rem;

  }

  .cards {
    justify-content: center;
    gap: 1rem;
  }
}
