<app-header-home></app-header-home>
<div>
    <div class="container">
        <div class="titulo">
        <h1>Velocidade e segurança em cada transação</h1>
        <button type="button" class="btn btn-outline-primary">Abra sua conta agora</button>
    </div>
    </div>
    <div class="cartao">
        <img src="./../../../assets/home.png" alt="" style="width: 829px; height: 858px;">
    </div>
    <div>
        <div class="subtitle">
        <h2>Descomplicamos sua vida financeira</h2>
        </div>
        <div class="cards">
        <p>Sem filas e papeladas</p>
        <p>Sem anuidade no Cartão de Débito e Crédito</p>
        <p>tTransferências Pix e TED gratuitas</p>
        <p>Sem complicação para cobrar e receber</p>
        </div>
    </div>
    </div>

<app-footer></app-footer>