<div [formGroup]="cadastroForm" class="formularioinvalido">
  <div formGroupName="endereco">

    <label class="form-label">CEP</label>
    <div class="input-group">
      <input type="text" class="form-control" formControlName="cep" [mask]="'00.000-000'"/>
      <button class="button-cep" type="button" (click)="procurarCep()">
        <i class="bi bi-search"></i>
      </button>
    </div>
    <span
      *ngIf="getCampo('cep')?.dirty && getCampo('cep')?.hasError('required') "
      class="texto-invalido"
      >CEP é obrigatório.
    </span >
    <span
      *ngIf="getCampo('cep')?.hasError('minlength')"
      class="texto-invalido"
      >CEP precisa conter 8 dígitos.
    </span >
    <span *ngIf="(mensagemErro || pesquisaFeita) && getCampo('cep')?.value.length === 8 && getCampo('cep')?.value === valorErro " class="texto-invalido">
      {{mensagemErro}}
    </span>


    <div class="row">
      <div class="col-3">
        <label class="form-label">Estado</label>
        <select class="form-select" formControlName="estado">
          <option value select>Selecionar</option>
          <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label" >Cidade</label>
        <input type="text" class="form-control" formControlName="cidade" (keypress)="this.formService.apenasCaracteres($event)"/>
      </div>
    </div>


    <label class="form-label">Logradouro</label>
    <input type="text" class="form-control" formControlName="logradouro" />

    <label class="form-label">Número</label>
    <input type="text" class="form-control" formControlName="numero" />

    <label class="form-label">Complemento</label>
    <input type="text" class="form-control" formControlName="complemento" />

    <label class="form-label">Bairro</label>
    <input type="text" class="form-control" formControlName="bairro" />

  </div>
</div>
