<app-header-voltar
  logo="../../../assets/icone-degrade.svg"
  nomeDaPagina="Histórico de transações"
></app-header-voltar>

<main class="main_container">
  <section class="section_filtro d-flex justify-content-center gap-3">
    <div class="select-pesquisa">

      <select class="form-select select-arrow" [(ngModel)]="valorSelecionado" (change)="onFiltroAlterado()" >
        <option *ngFor="let opcao of opcoes" [value]="opcao.value" >{{ opcao.display }}</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <input type="search" #tipoTransacaoInput class="input-pesquisa form-control" placeholder="Pesquisar" [(ngModel)]="searchText"  (input)="onMudancaPesquisa()"/>
      <span class="input-group-text bi bi-search" id="basic-addon2">
      </span>
    </div>
  </section>

  <section class="section_transacoes">
    <div class="transacoes_content">
      <h3 class="card-title mb-4">{{ imprimeValorSelecionado }}</h3>
      <div class="transacoes">
        <div *ngFor="let transacao of transacoesExibidas | filter: searchText">
          <app-cardtransacao [transacao]="transacao"></app-cardtransacao>
        </div>
      </div>

      <div *ngIf="todasTransacoesExibidas" class="transacoes-exibidas">
        <p>Todas as transações foram exibidas.</p>
      </div>

      <button
        class="btn btn-primary btn-block"
        *ngIf="!todasTransacoesExibidas"
        (click)="carregarMaisTransacoes()"
      >
        Carregar Mais
      </button>
    </div>
  </section>
</main>

<app-footer></app-footer>
