<div class="card-content">
  <img
    class="card-content-img"
    src="{{ membroEquipe?.img }}"
    alt="Foto Equipe"
  />

  <div class="card-content-informacao">
    <div class="card-content-boby">
      <h3 class="card-content-nome">{{ membroEquipe?.nome }}</h3>
      <p class="card-content-funcao">{{ membroEquipe?.funcao }}</p>
    </div>

    <div
      class="card-content-redes-sociais"
    >
    <div class="rede-social" *ngFor="let redeSocial of membroEquipe?.redesSociais">
      <a
      [href]="redeSocial.link"
      target="_blank"
      [title]="redeSocial.plataforma"
    >
      <i
        class="bi"
        [ngClass]="{
          'bi-github': redeSocial.plataforma === 'Github',
          'bi-linkedin': redeSocial.plataforma === 'Linkedin'
        }"
      ></i>
    </a>
    </div>

    </div>
  </div>
</div>
