<header class="header-inicial">
  <div class="container align-middle">
    <div class="row">

      <div class="col-7 d-flex justify-content-baseline align-items-center gap-5">
        <img src="../../../assets/icone-degrade.svg" alt="logo runpay" class="icone-runpay">
        <div class="d-flex flex-column justify-content-center">
          <span class="texto-boasvindas">Olá,</span>
          <span class="texto-nome">{{ nomeUsuario }}</span>
        </div>
      </div>

      <div class="col-5 d-flex justify-content-end align-items-center gap-5">
        <div class="foto-usuario  d-flex justify-content-center align-items-center">
          <i class="bi bi-person"></i>
        </div>
        <!-- Button trigger modal -->
        <button class="btn-sair" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="open()">
          <i class="bi bi-box-arrow-right"></i>
        </button>

      </div>

    </div>
  </div>
</header>
