<div class="card-transacao">
  <div class="card-container">
    <div class="row">
      <div class="col col-2 d-flex justify-content-center align-items-center">
        <div class="icon-pg icon" *ngIf="transacao?.tipo === 'Pagamento'">
          <i class="bi bi-arrow-up"></i>
        </div>
        <div class="icon-trans icon" *ngIf="transacao?.tipo === 'Transferência'">
          <i class="bi bi-arrow-left-right"></i>
        </div>
      </div>
      <div class="col col-8 d-flex flex-column justify-content-center">
        <h5 class="card-titulo">{{ transacao?.nome }}</h5>
        <p class="card-subtitulo">{{ transacao?.tipo }}</p>
        <p class="card-subtitulo">{{ transacao?.dataFormatada }}</p>
      </div>
      <div class="col col-2 d-flex align-items-center justify-content-end">
        <p
          class="valor"
          [ngClass]="{
            'text-pg': transacao?.tipo === 'Pagamento',
            'text-trans': transacao?.tipo === 'Transferência'}">
          {{ transacao?.valor !== undefined ? formatarValor(transacao?.valor) : "" }}
        </p>
      </div>
    </div>
  </div>

</div>
